h1{
	color:orange;
	
}

h2{
	color:red;
}

h3{
	color:brown;
}

img{
	width:300px; 
	height:258px;
	border-style:solid;
}

.Title{
	border-color:purple;
	font-size:150%;
	border-style: double;
	border-width:10px;
}

.Images{
	background-color:#FFC300;
	border-style:solid;
}

.OrangutansBest{
	font-size:120%;
	font-family:"Times New Roman", Times, serif;
}

.BottomHalf{
	border-style: dotted;
	font-size:120%;
}

#Title1{
	font-family:Lucida Handwriting;
}

ul{
	list-style-position: inside;
}

audio{
	border-style:solid;
	border-width:5px;
}